
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


body{
    font-family:'Roboto',sans-serif;
}

.main-header{
    position:absolute;
    top:0;
    left:0;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:8px 16px;
    width:100%;
}

.main-header__brand{
    height: 2.5rem;
    text-decoration: none;
    color:rgb(86, 86, 204);
    margin-left:24px;
}

.main-header__brand img{
    height: 2.5rem;
}

.main-nav{
    text-align:right;
    margin-right: 4rem;
}

.main-nav__items{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding:8px;
    margin:0;
    /* background-color: red;    */
}

.main-nav__item{
    margin:0 1rem;
}

.main-nav__items a{
    text-decoration: none;
    font-weight: bold;
    font-size:1rem;
    cursor: pointer;
    color:#f9f8ff;
}

.main-nav__items a:hover{
    color:#d9d9dd;
}

#home-preview{
    background:linear-gradient(to top,rgba(59, 7, 202, 0.6), rgba(63, 10, 209, 0.6)), url("./asset/images/overview.jpg") center/cover no-repeat ;
    min-height: 70vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}

.home-preview__text{
    color:#fff;
    padding:2rem;
    width:45%;
}

.home-preview__text h1{
    font-size: 4rem;
    text-transform: capitalize;
}

.home-preview__text p{
    font-size: .8rem;
    margin:1rem 0;
    line-height: 1.3rem;
    text-align: justify;
}

.btn{
    padding:0.5rem 1.5rem;
    color:#fff;
    background-color: #3b07ca;
    border:none;
    cursor: pointer;
}

.btn-alt{
    color:#1e1e1f;
    background-color: #fff;
}

.btn:hover{
    background-color: rgb(85, 55, 169);
}

.btn-alt:hover{
    background-color: #d1d1d19f;
}

.home-preview__form{
  text-align: center;   
  width:50%;
  display:flex;
  justify-content: center;
  
}

.home-preview__form form{
    width: 70%;
    background-color: #ebebeb;
    padding:1rem;
    margin-left:2rem;
    max-height:500px; 
  
}

.home-preview__form form h2{
    font-size: 1rem;
    margin:1rem 0;
    color:#2405797c;
}

.home-preview__form form h3{
    font-size: 1.5rem;
    margin:1rem 0;
    color:#2405797c;
    font-weight: bold;
}

.form-control input ,
.form-control textarea{
    max-width:100%;
    width:100%;
    margin:0.5rem 0;
    padding:0.4rem 0.25rem;
    border-radius: 4px;
    outline:none;
    border:1px solid #ccc;
}

.form-control input:focus ,
.form-control textarea:focus{
    border:1px solid #bbb;
}

.home-preview__form-btn{
 text-align: left;
}

section{
    margin-top:3rem;
    
}

section h2{
    font-size: 1rem;
    margin:1rem 0;
    color:#240579f3;
    text-align: center;
}

section h3{
    font-size: 3rem;
    margin:3rem 0;
    color:#240579;
    font-weight: bold;
    text-align: center;
}

.top-estates{
    padding:0;
    margin:0;
    list-style-type: none;
    display:flex;
    justify-content: center;
}

.top-estate{
    padding:0.5rem;
    width:30%;
}

.top-estate:hover{
    border:3px solid blue;
    transform: scale(1.3);
}

.top-estate__img{
    width:100%; 
}

.top-estate__img img{
    width:100%;
}



.toplist-buildings{
    list-style-type: none;
    padding:none;
    margin:none;
    display:grid;
    grid-template-columns:50% 50%;
    align-items: center;
    justify-content: center;
    place-items:center;
}

.toplist-building{
 
    padding:1rem;
}

.toplist-building__img{
    width:100%;
    padding:1rem;
    position: relative;
}

.toplist-building__img img{
    width:100%;
}

.toplist-building__img a{
    position: absolute;
    bottom:0.2rem;
    left:1.5rem;
    text-decoration: none;
}

a.btn{
    text-decoration:none;
}
.btn-orange{
    color:#fff;
    background-color: #e7a936;
}

.btn-orange:hover{
    color:#fff;
    background-color: #eb9e0f;
}

.btn-blue{
    color:#fff;
    background-color: #180452;
}

.btn-blue:hover{
    background-color: #3b0cc9;
}

.toplist-building__text{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

/* .toplist-building__text > *{
    margin:1.5rem 0;
} */

.toplist-building__text h4{
    font-size: 2rem;
    color:#240579;
    margin:1rem 0;
}

.toplist-building__text h5{
    font-size: 1.3rem;
    color:#240579;
    margin:0.5rem 0;
}

.toplist-building__text h6{
    color:#1d1d1d;
    margin:0.5rem 0;
}

.about{
        background:linear-gradient(to top,rgba(59, 7, 202, 0.6), rgba(63, 10, 209, 0.6)), url("./asset/images/studio.jpg") center/cover no-repeat ;
        min-height: 100vh;
        /* min-height: 70vh; */
        width:100vw;
        position:relative;
        padding:18px;
        
}

.about-img{
    width:80%;
    height:300px;
    margin:32px auto;
    overflow: hidden;

}

.about-img img{
    width: 100%;
}

.about-text{
    width:80%;
    margin:0 auto;
}

.about-text p{
    color:white;
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.about-text h1{
    font-size:3rem;
    color:white;
    text-align: left;
    font-weight: 400;
}

.about-text h2{
    font-size: 1.3rem;
    color:white;
    text-align: justify;
    margin:4rem 0;
    font-weight: 600;
}

.about-text h3{
    font-size:1rem;
    color:white;
    text-align: left;
}

@media(min-height:700px){
   
#home-preview{
    
    height: 80vh;
  
}
    .home-preview__form form{
        
    }
}